.hidden {
  display: none;
}

.visible {
  display: initial;
}

#userinfo img {
  height: 3rem;
}

.user-card {
  box-shadow: 0 0 1rem #777;
  border-radius: 0.3rem;
  display: flex;
  align-items: center;
  padding: 0.5rem;
  margin: 1rem;
}

#userinfo pre {
  background-color: #ffd7e5;
}

.btn-passwordless-id {
  border: 1px solid #aaa;
  border-radius: 0.3rem;
  display: inline-block;
  padding: 0.2rem 0.4rem;
  background-color: #eee;
}

.btn-passwordless-id:hover {
  background-color: #ddd;
}

.btn-passwordless-id img {
  height: 2rem;
}
