#demo {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

.profile {
  min-width: 20rem;
}

.profile .card-body {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.profile img {
  width: 5rem;
  height: 5rem;
}